textarea 
{
    resize: none;
}

body
{
    background-color: #f8beb0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

.header
{
    align-items: center;
    background-color: #f38998;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

#darkMode
{
    outline: none;
    border: 2px solid blue;
}

#darkMode :hover 
{
    width: 40px;

}

.header__title
{ 
    display: flex;
    height: 60px;
    margin: 3px 5px;
}

.header__title--text
{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 170%;
}

.header__title--img
{
    width: 56;
}

#start-button
{
    align-items: center;
    background-color: #f38998;
    border-radius: 20px;
    color: black;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 10px 5px;
    height: 60px;
    border: none;
}

#start-button:hover
{
    border: 4px solid black;
    cursor: pointer;
    font-weight: bold;
    transition: all 50ms;
}

#start-container
{
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

#text
{
    outline: none;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 98%;
    height: 79%;
    display: flex;
    border-radius: 15px;
    padding: 5px 0px 0px 5px;
    font-size: 20px;
    border: 0px;
    border-radius: 15px;
    height: 200px;
    color: white;
    background-color: #f38998;
    
}
#text::placeholder{
    color: white
}
.options
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    height: 35px;
}

.options__save
{
    width: 40%;
    border-radius: 15px;
    background-color: #f38998;
    color: white;
    font-size: 20px;
}

.options__back
{
    width: 40%;
    background-color: #f38998;
    border-radius: 15px;
    color: white;
    font-size: 20px;

}

#saved
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#savedAndOptions
{
    display: flex;
    background-color: #f38998;
    border-radius: 15px;
    margin-bottom: 5px;
    color: white;
}

.individual
{
    background-color: #f38998;
    display: flex;
    font-size: 20px;
    width: 91%;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: 0px;
}

#options2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3px;
    align-items: stretch;
    padding-right: 15px;
}

#delet
{
    height: 46%;    
    background-color: #f38998;
    border-radius: 15px;
    font-size: 20px;
    border: 1px solid black;
    margin-bottom: 2px;
}

#edit
{
    height: 46%;
    background-color: #f38998;
    border-radius: 15px;
    border: none;
    border: 1px solid black;
    font-size: 20px;
}
