textarea 
{
    resize: none;
}

body
{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}


.header
{
    align-items: center;
    background-color: #ce97b0;
    border-radius: 15px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 3px 5px;
}

.header__title
{
    color: rgb(0, 0, 0);
    font-size: 170%;
}

.header__img
{
    padding-right: 30px;
    width: 40px;
}

#start-button
{
    align-items: center;
    background-color: rgb(61, 61, 61);
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 10px 5px;
    height: 60px;
}

#start-button:hover
{
    border: 4px solid black;
    cursor: pointer;
    font-weight: bold;
    transition: all 50ms;
}

#start-container
{
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}
/* 
#writing-container
{
    border-radius: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    flex-direction: column;
} */

#text
{
    outline: none;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 98%;
    height: 79%;
    display: flex;
    border-radius: 15px;
    padding: 5px 0px 0px 5px;
    font-size: 20px;
    border: 0px;
    border-radius: 15px;
    height: 200px;
    color: white;
    background-color: rgb(61, 61, 61);
}
.options
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    height: 35px;
}

.options__save
{
    width: 40%;
    border-radius: 15px;
    background-color: rgb(61, 61, 61);
    color: orangered;
    font-size: 20px;
}

.options__back
{
    width: 40%;
    background-color: rgb(61, 61, 61);
    border-radius: 15px;
    color: orangered;
    font-size: 20px;

}

#saved
{
    background-color: palevioletred;
}